

<form action="/articles/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input id="title" type="text" name="title" value="<%= @article.title %>">
  <input id="content" type="text" name="content" value="<%= @article.content %>">
  <input id="submit" type="submit" value="submit">
</form>

