<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<form method="post" action="/articles/<%= @article.id %>/">
  <input id="hidden" type="hidden" value="delete" name="_method">
  <input type="submit" value="delete">
</form>
